<li class="record urlinfo__item {{#unless index}} record--absent {{/unless}}" data-uuid={{uuid}}>
  <p class = "record__title">{{title}}</p>
  <a class = "record__url" href = "{{url}}">{{url}}</a>
  <p class = "record__descr">{{description}}</p>
  <div class = "record__img-cont"><img src = "{{image}}"></div>
  <button class = "record__del-button">Удалить</button>
</li>